.customContainer {
  justify-content: space-between !important;

  @media (max-width: 768px) {
    padding-bottom: 0;
    flex-direction: column;
    align-items: stretch;
  }
}

.totalIncomeCard {
  color: var(--total-income-text);

  .MoneyText {
    color: var(--total-income-text) !important;
  }
}